* {
    margin: 0;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -60px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.customfooter, .page-wrap:after {
    height: 60px;
}

.customfooter {
    padding: 20px;
    border-top: 8px solid rgba(176, 233, 176, 0.767);
    background-color: grey;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: -1px;
}


body {
    background-image: url(../images/white_background.jpg);
}

.customnavbar {
    background-color:rgba(176, 233, 176, 0.767);
    padding: 0px;

}

#name {
    background-color: grey;
    color: white;
    padding: 10px;
    font-size: 35px;
    font-family: 'Be Vietnam', sans-serif;
    
}

#customlinks {
    margin-left: 70%;
}


.aboutme {
    margin-top: 20px;
    margin-left: 25px;
    font-family: 'Be Vietnam', sans-serif;
}

.customcontainer {
    margin-top: 30px;
    border:grey 2px solid;
    background-color: white;
    margin-bottom: 30px;
}

#profile {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.biotext {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
}


#portfolio {
    margin-left: 25px;
    margin-right: 70px;
    margin-top: 10px;
    margin-bottom: 25px;
    border: 2px grey solid;
    padding-top: 10px;   
}


.form-group {
    padding-bottom: 0px;
    padding-right: 0px;
    margin-left: 25px;
    margin-right: 25px;
}

label {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
}

input[type="text"], 
textarea {
    padding: 5px;
    width: 100%;
}

textarea {
    height: 120px;
}

input[type="submit"]{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 25px;
    border: none;
    margin-left: 25px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 19px;
}

input[type="submit"]:hover {
    background: grey;
}
